<form action="/posts" method="POST">
  <label for="name">NAME:</label><br>
  <input type="text" name="name"><br>
  <label for="content">CONTENT:</label><br>
  <textarea name="name" rows="8" cols="80"></textarea><br>
  <input type="submit" value="submit">
</form>
